@import "../../../common.scss";

.confirm {
  .card-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: relative;
  }

  label {
    position: relative;
    width: 100%;
  }

  input {
    position: absolute;
    left: 0;
    opacity: 0;
    outline: none;
    z-index: -1;

    + .check {
      width: 1.5rem;
      height: 1.5rem;
      background: #fff;
      position: absolute;

      .icon {
        opacity: 0;
        -webkit-text-fill-color: #121212;
      }
    }
    &:checked + .check .icon {
      opacity: 1;
    }
  }
}