.stat-boxes {
  .card {
    height: 9rem;
    background-image: url('../../../assets/cardbg.svg');
    background-size: cover;
  }

  .card-content {
    display: flex;
    align-items: center;
    height: 100%;
  }

  img {
    margin-right: 1rem;
  }

  p, h3 {
    line-height: 1em;
    white-space: nowrap;
  }
}