.sectionTwo {
  p {
    font-family: "Playfair Display";
    font-size: 2em;
    color: #fff;
  }

  background-color: #1b4444;
  margin-top: 1.6em;
}

.headerCenter h2 {
  color: #fff;
}

.subText {
  font-family: "Playfair Display";
  font-size: 2em;
  color: #fff;
  line-height: 30px;
}

.cardThree {
  background-image: url("/assets/section-two-card-3-neon-1.svg"),
    url("/assets/section-two-card-3-neon-2.svg") !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardFour img {
  border-radius: 0 0 2em 0;
}

@media screen and (max-width: 769px) {
  .sectionTwo {
    p {
      font-family: "Playfair Display";
      font-size: 1.6rem;
    }

    h2 {
      font-size: 3.2rem;
    }
  }

  .sectionTwo h3 {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1920px) {
  .main {
    max-width: 1920px;
  }

  .cardOne p,
  .cardFour p {
    margin: 0 4em;
  }
}
