$vivid-color: #5651ff;
$vivid-color-hover: #605bff;
$green-color: #6fcf97;
$yellow-color: #edef7c;
$white-color: #ffffff;
$main-black-color: #000000;
$black-color-hover: #242424;
$secondary-black-color: #494949;
$main-gray-color: #f1f1f1;
$secondary-gray-color: #7e7e7e;
$dark-green-color: #193f3f;
