@import "@/styles/colors.scss";

.lineBreak {
  display: inherit;
}

.main {
  background-color: #fff;
  transition: all ease-in-out 0.3s;
}

.main:hover {
  background-color: $main-color;
  transition: all ease-in-out 0.3s;
}

@media screen and (max-width: 1024px) {
  .lineBreak {
    display: none !important;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}
