@import "@/styles/colors.scss";

.sectionFour {
  margin-top: 1.6em;
  background-color: $main-color;

  .main {
    padding: 0 clamp(5%, 24%, 32rem);
  }

  h1 {
    color: #fff !important;
    line-height: 64px;
  }
}

@media screen and (min-width: 200px) and (max-width: 350px) {
  .main {
    padding: 0 2vh !important;
    margin: auto;

    h1 {
      line-height: 18px;
      font-size: 1.2rem;
    }

    button {
      font-size: 1rem;
      width: 80%;
    }
  }
}

@media only screen and (min-width: 350px) and (max-width: 471px) {
  .main {
    width: 300px;
    padding: unset !important;
    margin: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main {
    margin: auto;
  }
}
