.LoginSignup {
  display: flex;
  align-items: center;
  font-weight: 700;
  a {
    margin-right: 30px;
  }
  button {
    width: 140px;
    height: 40px;
  }
}

@media screen and (max-width: 834px) {
  .LoginSignup {
    display: none;
  }
}
