$secondary-text-color: #818a94;
$horizontal-line-color: #3e4348;
$card-background: #212121;
$highlighted-text: #c91988;

$button-background-color: #3d52fa;
$button-background-hover-color: #5769f5;
$button-foreground-color: #fff;
$dark-button-border-color: #818a94;

// .horizontal-line {
//   height: 1px;
//   width: 100%;
//   border-bottom: 1px solid $horizontal-line-color;
// }

$primary: #3d52fa;
$primary-hover: #5769f5;
$secondary: #c91988;
$success: #0fb36c;
$white: #fff;
$light: #c4c4c4;
$silver: #818a94;
$dark: #212121;
$black: #121212;

// Redesign styles
$grey-01: #EFEFEF;
$grey-03: #F4F4F4;
$grey-04: #FAF9FA;
$grey-05: #F7F7F7;
$green-01: #1B4444;
$green-05: #8DA1A1;
$green-03: #496969;
$green-08: #D1DADA;
$green-10: #E8ECEC;
$green-11: #F4F6F6;
$light-green-01: #66DD95;
$light-green-09: #f0fcf4;

.DfinityLogo {
  height: 22px;
  width: 42px;

  @media screen and (max-width: 992px) {
    height: 15px;
    width: 32px;
  }
}
