.sectionOne {
  background-color: #efefef;
  margin-top: 1.6em;

  h3 {
    font-size: 6.4rem;
  }

  h2 {
    font-size: 3.2rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .sectionOne {
    h2 {
      text-align: center;
    }

    p {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 769px) {
  .sectionOne {
    h2 {
      font-size: 3.2rem;
    }

    h3 {
      font-size: 2.4rem;
    }

    p {
      font-size: 1.6rem;
    }
  }
}

@media screen and (min-width: 1920px) {
  .sectionOne {
    div {
      max-width: 1920px;
    }
  }
}
