@import "@/styles/colors.scss";

.sectionFive {
  background-color: #efefef;
  margin-top: 1.6em;
}

.sectionFive {
  a,
  p {
    position: relative;
    font-size: 2rem;
    line-height: 2em;
  }

  a::after {
    content: "";
    position: absolute;
    background-color: $main-color;
    width: 100%;
    left: 0;
    height: 0.01em;
    bottom: -0.04em;
  }

  a.link::after,
  p a.link::after {
    content: "";
    position: absolute;
    background-color: transparent !important;
    width: 100%;
    left: 0;
    height: 0.01em;
    bottom: -0.04em;
  }

  .faq {
    p {
      color: $main-color;
    }

    ul {
      margin: 1em 0;
    }

    ol {
      margin: 1em 0;
      list-style-type: decimal !important;
      margin-left: 1.5em;
    }

    li {
      margin-left: 1.5em;
      font-size: 1.8rem;
      line-height: 2em;
      color: #191818;
    }
  }
}

.disclosureBtn {
  font-size: 1.4rem;
}

@media screen and (max-width: 769px) {
  .section-five a {
    font-size: 1.2rem;
  }

  .main {
    h2 {
      font-size: 3.2rem;
    }
  }
}

@media screen and (min-width: 1920px) {
  .main {
    max-width: 1920px;
  }
}
