.headerArea {
  color: #fff;
  margin: 8em 0;

  h1 {
    letter-spacing: -2.3px;
  }

  .headerText {
    margin: 0 17.7em;
  }
}

.headerSubtext {
  font-family: "Playfair Display";
}

@media screen and (max-width: 769px) {
  .headerArea {
    margin: auto;

    .headerText {
      margin: auto;
    }

    h1 {
      letter-spacing: unset;
    }
  }
}
