@import "@/styles/colors.scss";

.headerSection {
  width: calc(100%);
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  background-color: $main-color;
  overflow: hidden;
}

.headerArea {
  color: #fff;
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1920px;
}

.headerSubtext {
  font-family: "Playfair Display";
}

@media screen and (max-width: 639px) {
  .headerArea .mainText {
    font-size: 2.7rem;
  }
}

@media screen and (max-width: 769px) {
  .headerArea {
    margin: auto;

    .headerText {
      margin: auto;
    }

    h1 {
      letter-spacing: unset;
    }
  }
}

@media screen and (min-width: 1920px) {
  .headerSection {
    margin: 0;
  }

  .headerArea {
    margin: 0 auto;
    max-width: 1920px;
  }
}
