aside {
  h1 {
    white-space: nowrap;
  }
}

.menu-list {
  a {
    color: #fff;
    font-weight: 700;
    line-height: 1em;
    white-space: nowrap;
    display: flex;
    align-items: center;

    &:hover {
      background: none;
    }

    span.icon {
      margin-right: 1rem;
    }
  }
}