@import "./common.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins");

body,
html,
#root {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif !important;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

h1,
h2 {
  color: white;
}

discord {
  color: #1d82ee;
}

a:visited {
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.BlueButton {
  border-radius: 4px;
  background-color: $button-background-color;
  color: $button-foreground-color;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  border-style: none;
}
.BlueButton:hover {
  background-color: $button-background-hover-color;
  cursor: pointer;
}

.DarkButton {
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid;
  font-weight: 900;
  color: #fff;
}

.DarkButton:hover {
  background-color: rgba(255, 255, 255, 0.856);
  color: #000;
  cursor: pointer;
}
