$secondary-text-color: #818a94;
$horizontal-line-color: #3e4348;
$card-background: #212121;
$highlighted-text: #c91988;

$button-background-color: #3d52fa;
$button-background-hover-color: #5769f5;
$button-foreground-color: #fff;
$dark-button-border-color: #818a94;

// .horizontal-line {
//   height: 1px;
//   width: 100%;
//   border-bottom: 1px solid $horizontal-line-color;
// }

$primary: #3d52fa;
$primary-hover: #5769f5;
$secondary: #c91988;
$success: #0FB36C;
$white: #fff;
$light: #c4c4c4;
$silver: #818A94;
$dark: #212121;
$black: #121212;


.DfinityLogo {
  height: 22px;
  width: 42px;

  @media screen and (max-width: 992px) {
    height: 15px;
    width: 32px;
  }
}
