@import "./common.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "Nunito Sans";
  src: url(../assets/NunitoSans-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(../assets/NunitoSans-SemiBold.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(../assets/NunitoSans-Bold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Nunito Sans";
  src: url(../assets/NunitoSans-ExtraBold.ttf) format("truetype");
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif !important;
  /* font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #111215 !important;
  color: #fff;
}

.fa {
  font-family: "FontAwesome" !important;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
